@CHARSET "UTF-8";
div.pmt-outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

div.pmt-middle {
  display: table-cell;
  vertical-align: middle;
}

div.pmt-inner {
  margin-left: auto;
  margin-right: auto;
}